/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************
END OF CSS RESET  
************************/

/* MY STYLING */
/* I gonna start stablishing the root to create the colour palette that I used on Figma and the fonts and sizes to try to maintain a pattern for the website */
:root{
    /* MY COLOURS */
    --eggplant: #8C3573;
    --avocado: #ABC510;
    --pumpkin: #FF991C;
    --beige: #F0EAD6;
    --brown: #704214;

    /* MY FONTS (FAMILIES) */
    --font-heading: "Autour One", serif;
    --font-body: "Inter", sans-serif;

    /* FONT SIZES (for Mobile Version) based on my Figma Design
    I found the values in px on Figma and I converted in a Website that I found on Google to put them into rem */
    /* HEADING SIZES */
    --fs-h1: 2rem; /* 32px */
    --fs-h2: 1.375rem; /* 22px */
    --fs-h3: 1.25rem; /* 20px */
    --fs-h4: 1rem; /* 16px */

    /* BODY TEXT SIZES */
    --fs-body: 1rem; /* 16px */ /* For some paragraphs because varies based on the size of the screen */
    --fs-body-small: 0.75rem; /* 12px */

    /* BUTTON SIZES */
    --fs-button: 1rem; /* 16px */ /* There are some buttons in my page what I needed to put smaller that's why there're 2 different sizes of the font-button */
    --fs-button-small: 0.75rem; /* 12px */
}

/* Setting the sizes and colours, the characteristics of the text based on my Figma design */
body{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--brown);
    background-color: white;
}

h1{ /* The H1 I just used for the text in the overlay for the hero banner image */
    font-family: var(--font-heading);
    font-size: var(--fs-h1);
    color: var(--beige);
}

/* Most of the others "h" is brown, but there are some specific points that is beige, and for this I gonna do in the point specifically, but since most of them are brown i gonna set it up as brown */
h2{
    font-family: var(--font-heading);
    font-size: var(--fs-h2);
    color: var(--brown);
}

h3{
    font-family: var(--font-heading);
    font-size: var(--fs-h3);
    color: var(--brown);
}

h4{
    font-family: var(--font-heading);
    font-size: var(--fs-h4);
    color: var(--brown);
}

/* I have 2 different types of paragraphs, in some cases they're body-small and other cases they're just body. I choose to put as body (16px) to pick the specific sections that I used 12px to change in that section  */
p{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--brown);
}

/* HEADER - MENU NAV */
/* Styling the Dropdown Menu */
.dropdown-checkbox{
    display: none; /* To hide the checkbox */
}

.header-top{
    display: flex; /* To put the items in a row because flex as a default is a row. So at this point the logo and the hamburguer are in the same row */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.dropdown-open img{ /* Adjusting the size of the hamburguer icon */
    width: 40px;
    height: auto;
    cursor: pointer;
}

.logo img{ /* Adjusting the size of the logo */
    width: 240px;
    height: auto;
}

/* Setting the nav-menu "inside" of the hamburguer with it own features like colours and text */
.mobile-nav{
    position: fixed; /* This is to fix the menu to do not scroll with the page */
    top: -100%; /* starts out of the screen and comes from the top like "hidding" */
    right: 0; /* to maintain it on the right side because the icon is there */
    width: 40%; /* the size of the box */
    height: auto; /* Adjust automatically based on the text inside */
    background-color: var(--brown);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: top 0.3s ease-in-out; /* top means the transition comes from the top sliding vertically */
    z-index: 999999; /* When I finished my Hero Section and tried the hamburguer, it was behind the hero, so I put a z-index in a higher number to tell that menu is in front of everything in the world */
}

#dropdown-box:checked ~ .mobile-nav { /* This means when this id is checked the dropdown has to show the sibling .mobile-nav which comes after the dropdown-box. It's like: when the checkbox is checked, slect the sibiling .mobile-nav to appear */
    top: 0; /* The direction of the menu. Here I have to say that the top that I hidded above (top: -100%) needs to come and show from and stayed at the top */
}

/* Adjusting the text of the nev inside of the box according to the Figma Design */
.mobile-nav ul li a{
    display: block; /* To make this thing behaves like a block */
    color: var(--beige);
    font-family: var(--font-heading);
    font-size: var(--fs-h4);
    text-decoration: none; /* To remove the underline default for nav links */
    text-transform: uppercase;
    padding: 1rem 0; /* The space between the elements inside of the box */
    border-bottom: 2px solid var(--beige); /* The lines between the text like I have in my design */
    text-align: left;
}

.mobile-nav {
    border-radius: 0 0 8px 8px; /* to put the border in the bottom of the box rounded */
}

.dropdown-close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer; /* I noticed that just the X wasn't showing the little hand to indicate that's clicable, so I did the same thing that I did for the hamburguer */
}

header {
    border-bottom: 3px solid var(--beige); /* I have a line to divide the sections but this line belongs to the header because for me in the designer means finished the header to start the body of the website */
}


/* HERO BANNER SECTION */
.hero{
    position: relative; /* This is my reference point, that's why is relative, for the things that becomes after are relative to this one */
    width: 100%;
    overflow: hidden; /* To maintain everything inside of the border-radius just to avoid things scape */
    border-radius: 10px;
    margin-top: 1rem; /* To give some space between the section and the line of the header */
}

.hero img {
    width: 100%; /* to fill the whole space of the section */
    height: 437px; /* this values were based on my Figma design values */
    object-fit: cover; /* To fill the entire space even if it means to cut a little bit the image, maintain things proporcional */
    object-position: center; /* Once I did obect-fit:cover I have to tell how or where to cut, so this means to cut equally both sides */
    display: block;
    position: relative;
    z-index: 0;
}

/* HERO OVERLAY */
.hero::before{
    content: "";
    position: absolute; /* This absolute is related to the position:relative I did above */
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25); /* Based on my Figma design my overlay is black with a 25% of opacity */
    z-index: 1; /* To keep the overlay in front of the image */
    border-radius: inherit; /* To pick the radius that I did before */
}

/* HERO TEXT */
.hero-content{
    position: absolute;
    inset: 0; /* To set the place of the element and tell where it is, but only works when has a position defined */
    z-index: 2;
    padding: 2rem;
}

.hero-content h1 {
    font-family: var(--font-heading);
    font-size: var(--fs-h1);
    line-height: 1.8; /* to give some space between lines */
    margin-bottom: 1rem; /* space between h1 and the p that comes after */
    color: var(--beige);
    max-width: 28rem; /* To avoid the text becames too wide */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* To put the drop shadow as I have on Figma, my values are Y = 2, Blur = 5 and Black opacity in 25% */
}

.hero-content p {
    color: var(--beige);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.2rem; /* the space between the paragraph and the buttons that comes after */
    max-width: 26rem; /* To avoid the text becames too wide */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* To put the drop shadow as I have on Figma, my values are Y = 2, Blur = 5 and Black opacity in 25% */
}

/* HERO BUTTONS */
.hero-buttons {
    display: flex;
    flex-direction: column; /* To adjust the buttons to become one above the other, it was one beside the other befor */
    gap: 1rem; /* the space between buttons */
}

.btn-menu,
.btn-catering {
    display: inline-block; /* To maintain the element in the same line to do not broke to another line instead */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    width: fit-content; /* I tried to change the X axis on padding but didn't work so I did this to keep the size of the button accordingly to the text inside */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase; /* I know it's already uppercase on html but i prefer to be safe and organized */
    text-align: left;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.btn-menu:hover{
    background-color: var(--beige);
}

.btn-catering:hover{
    background-color: var(--beige);
}

/* PAST EVENTS AT PLANT PALETTE */
.events-section {
    padding: 1.5rem 1rem; /* This creates space in the top of the section and in the left and right side */
}

.events-section h2 {
    margin-bottom: 1rem; /* The space between the h2 and the p after */
}

.events-text-regular {
    font-size: var(--fs-body-small); /* This is the size of this exceptional paragraph (12px) */
    line-height: 1.5; /* I did this to enhance the readibility */
    margin-bottom: 1rem; /* The space between paragraphs */
    color: var(--brown); 
}

.events-text-bold {
    font-size: var(--fs-body-small); /* This is the size of this exceptional paragraph (12px) */
    font-weight: 700; /* This part of the paragraph is bold that's why I did 700 */
    line-height: 1.5;
    margin-bottom: 1.5rem; /* The space between the end of this paragraph and the picture */
    color: var(--brown);
}

/* I know in my prototypes I have an arrow in the both sides to indicate that would be a slide and the arrows supposed to be a button when you clicked slides to the others pictures, I kind knew I can do that with something in Bootstrap but I wasn't safe and also I was afraid to don't finish the whole assignment, so I choose to do the content properly and these details if I have time I'll include, but if I don't, at least I have mostly of my design coded */
.events-images {
    display: flex; /* To put the images beside each other */
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.events-images img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* For the buttons I just copy and paste the previous one that I did before to maintain the pattern of them */
.btn-events {
    display: inline-block;
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    width: fit-content;
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
}

.btn-events:hover {
    background-color: var(--beige);
    color: var(--brown);
}

/* I tried to align the button in the center in the .btn-events but didn't work, I tried doing same thing on .events-section but made all the section centered as I imagined, so I choose to create a div on html to envolve just the buttons and align center like I did below */
.events-btn-wrapper{
    text-align: center;
}

/* ABOUT BOX
There's no about page, but I did this box in the home pretending, like, if I have an about page this section is related to it. So I did a box, and inside this box an image telling about the producers, values and misson of the company very briefly and a button to go to the about if I had one */
.about-section {
    padding: 1.5rem 1rem;
}

.about-box {
    border: 1px solid var(--brown);
    border-radius: 10px;
    padding: 1rem;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.about-text {
    font-size: var(--fs-body); /* The font that has 16px */
    color: var(--brown);
    line-height: 1.5; /* All these values I tried to keep the same. I don't remember what exactly I used on Figma, but here I'm just trying and which fits better I keep */
    margin-bottom: 1.5rem;
}

.btn-about { /* The button I just copy and paste what I did before because they all the same */
    display: inline-block; /* Tells the button to behave as an inline element, just use the space that they need to, without strethcing */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    width: fit-content; /* I did this to maintain the button in the size of the text (content) inside. To fit the size based on the content */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
}

.btn-about:hover {
    background-color: var(--beige);
    color: var(--brown);
}

/* FOOTER */
/* The line to divide the sections */
.footer-divider{
    border-bottom: 3px solid var(--beige); /* The same I did in the header because it's the same line */
    margin-bottom: 1.5rem; /* To create some space between the line and the content in the footer */
}

/* LEFT SIDE - FOOTER */
.footer-logo {
    width: 150px; /* I tried the sizes manually and what looks similar I keep */
    height: auto;
    margin-bottom: 1rem;
}

.footer-menu a {
    display: block; /* to make one after another */
    font-size: 16px;
    color: var(--brown);
    text-decoration: none;
    margin-bottom: 0.5rem;
    margin-left: 1rem; /* To align a little bit in the right with the logo image */
    transition: color 0.3s ease; /* To animate a little bit the hover state when the mouse comes and smoothly transition from brown to green */
}

.footer-menu a:hover {
    color: var(--avocado); /* hover green */
}

/* RIGHT SIDE - FOOTER */
.footer-follow {
    color: var(--brown);
    font-size: var(--fs-body);
    margin-bottom: 0.5rem;
}

.footer-social {
    display: flex;
    gap: 0.2rem; /* The space between the icons*/
    margin-bottom: 1.5rem;
}

.social-icon {
    width: 21px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease; /* I did this transition when the hover is activated the opacity reduces a little bit */
}

.social-icon:hover {
    opacity: 0.7;
}

.footer-subscribe-title {
    color: var(--brown);
    font-size: var(--fs-body);
    margin-bottom: 0.5rem;
}

.footer-subscribe-box {
    background-color: var(--beige);
    border-radius: 10px;
    padding: 0.5rem 0.75rem;
    display: flex; /* To put my input and my arrow button beside each other */
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    margin-bottom: 2rem;
}

.footer-input {
    border: none;
    background: transparent; /* To make the box of the input of the email transparent to use just the beige box as the input box */
    font-size: var(--fs-body);
    outline: none;
}

.footer-submit { /* To remove the box around the arrow to keep just the brown arrow as a button to submit the form */
    background: none; 
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow-icon {
    width: 20px; 
    height: auto;
}

/* Putting them beside each other */
.footer-content {
    display: flex; /* To put them in the same row beside each other according left and right side as I did to organize my divs on html */
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
}

/**************
   MENU PAGE
***************/
/* HERO SECTION */
.menu-hero {
    padding: 0 1rem; /* some space on the left and right side */
    margin-top: 1rem; /* space in the top of the image, between the end of the line and the beginning of the image */
}

.menu-hero-image {
    width: 100%;
    height: 437px;/* I found this value on my figma design. At first didn't work because the image was kind of distorted, so I did object-fit to cut the image as need to fit in the size that I wanted to */
    object-fit: cover;
    border-radius: 10px; 
    display: block;
}

/* MENU SECTION
TITLE AND SUBTITLE 
ICONS */
.menu-section {
    padding: 0 1rem; /* spaces on the left and right */
    margin-top: 1.5rem;
}

.menu-subtitle {
    text-align: center;
    font-size: var(--fs-h2);
    color: var(--brown);
    margin-bottom: 1rem;
}

.menu-title {
    font-size: var(--fs-h1); 
    color: var(--brown);
    margin-bottom: 1rem;
    text-align: left; /* It was already aligned to the left but I prefer to put just to be safe, something could happens in coding and scares me so I prefer to be safe than sorry */
}

/* ICONS ROW PART */
.menu-icons-row {
    display: flex;
    flex-direction: column; /* to put the icons in like two of them in one line, and the other two below */
    gap: 0.5rem;
}

.menu-icons-line {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem; /* space between the lines of the icons */
}

.menu-icon-item,
.menu-icon-item2 {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.menu-icon-item img {
    width: 30px;   /* I choose the value based on what looks similar to me */
    height: auto;
}

.menu-icon-item2 img { /* Also I created a different class for the group of gf and nf because on my Figma this ones are smaller than the others, so they're not the same size, so to adjust this manually I prefered to separate them in different classes */
    width: 39px;   /* I choose the value based on what looks similar to me. */
    height: auto;
}

.menu-icon-label {
    font-size: var(--fs-body);
    color: var(--brown);
}

/* MENU CARDS */
/* CARD 1 */

/* BOX OF THE CARD */
.menu-card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
    box-shadow: 2px 2px 2px 4px rgba(242, 211, 181, 0.4); /* light beige based on the figma design. I was increasing/decreasing the px based on what looked similar to me and makes the box more noticeable */
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem; /* Sometimes my padding works for space on the left and right, but sometimes don't, also I never remember which value is what, I do them by trying and see what happens but it's hard to me to memorize so for this case I choose to put margin-left/right/top/bottom because it's more clear to me */
}

.menu-card-image-wrapper {
    position: relative;
}

.menu-card-image {
    width: 150px; /* I adjust according I thought was similar, trying different values until I found one that I liked */
    height: 150px; /* same here but in my wireframes the images are more rectangle than square, but I couldn't figure it out so I did as a square because fits better to the box */
    object-fit: cover;
    border-radius: 10px; /* Based on my figma design */
}

.menu-card-icons {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    gap: 0.2px; /* The space between the icons */
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)); /* To create the drop-shadow around the icons */
}

.menu-card-icons img {
    width: 20px; /* The size of my icons were based on what I tought was similar to the wireframe */
    height: auto;
}

.menu-card-content {
    flex: 1; /* To fit the content in the spare space, like the image is in one side, and there's a space that need to occupy so that's what this does */
    display: flex;
    flex-direction: column; /* to adjust the content in two columns, when the text is in a vertical column in the right side of the box */
    justify-content: space-evenly; /* distributes the space equally, I think I used this on my figma that's why I did here */
}

.menu-card-title {
    font-size: var(--fs-h4);
    color: var(--brown);
}

.menu-card-description {
    font-size: var(--fs-body); /* In my wireframes the font for the <p> is 12px but here it's too small so I kept that in 16px because looks better to me*/
    color: var(--brown);
    margin-top: 0.25rem;
}

.menu-card-info {
    display: flex; /* To put the calories and price in the same line */
    justify-content: space-between;
    align-items: center;
}

.menu-card-calories {
    font-size: var(--fs-body);
    color: var(--brown);
}

.menu-card-price {
    font-size: var(--fs-body);
    font-weight: 700;
    color: var(--pumpkin);
}

/* Vegan Icon for the Card2 because the size of the vegan icon is different than the others I don't know why */
.menu-card-icons img:first-child{
    width: 16px;
    height: auto;
}

/* BUTTON BACK
I copied the properties from the others buttons here and just changed the class to apply the tags properly */
.menu-back-btn { /* The button I just copy and paste what I did before because they all the same */
    display: block; /* Fot the other buttons was inline-block but for this I did block because I wanted to align center using margin: auto to put the button in the center of the page */
    margin: 1rem auto;
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 2.5rem; /* I changed the padding to increase the size in the x axis for the button to look like more to the button in the wireframe */
    width: fit-content; /* I did this to maintain the button in the size of the text (content) inside. To fit the size based on the content */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
}

.menu-back-btn:hover{
    background-color: var(--beige);
    color: var(--brown);
}

/**************************
   CATERING & EVENTS PAGE
***************************/
/* HERO SECTION - Beige Background and Titles and descriptive text */
.catering-hero {
    background-color: var(--beige); /* the beige rectangle behind the text */
    padding: 3rem 1.5rem; /* the space inside of the beige rectangle */
}

/* Catering & Events */
.catering-title {
    font-size: var(--fs-h1);
    color: var(--brown);
    margin-bottom: 1.5rem;
}

.catering-intro {
    font-size: var(--fs-body);
    color: var(--brown);
    margin-bottom: 2rem;
}

/* How it works */
.catering-subtitle {
    font-size: var(--fs-h2);
    color: var(--brown);
    margin-bottom: 1.5rem;
}

.catering-option {
    margin-bottom: 1.5rem;
}

.catering-option-title {
    font-weight: 700;
    font-size: var(--fs-body);
    color: var(--brown);
    margin-bottom: 0.25rem;
}

.catering-option-text {
    font-size: var(--fs-body);
    color: var(--brown);
}

/* EVENT GALLERY SECTION */
.event-gallery {
    padding: 1.5rem 1rem; /* To give some space for the image on the left and right */
}

.event-gallery-image {
    width: 100%;
    border-radius: 10px; /* The corner radius I'm using the values that I have on Figma */
    margin-bottom: 1rem; /* The space between the end of the image and the button */
}

.event-gallery-btn { /* The button I just copy and paste what I did before because they all the same */
    display: block;
    width: fit-content; /* because the button is fitting with the content, it doesn't expand in the whole line, so helps the margin-left: auto works */
    margin-left: auto; /* This is what makes the button goes to align to the right side of the image because, it is a block (display:block), so margin left push the button to the spare space */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.event-gallery-btn:hover {
    background-color: var(--beige);
    color: var(--brown);
}

/* 3rd SECTION - TESTIMONIALS AND PLANNING AN EVENT? */
/* TESTIMONIALS PART */
.event-testimonials {
    background-color: var(--beige);
    /* For this section I need two columns to put on the left the image and on the right the text and buttons, so I did grid and put 2 columns proporcionally (same size) */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem; /* the space between the columns */
    /* I realized that I have a problem with things that uses grid loll, because in the midterm I remeber that was a section like this and I couldn't figure it out, and now the same, I noticed the background is not embracing the content inside. I tried height, padding, align stretch but none worked, so I left like this :( */
}

.event-testimonials-content{
    background-color: var(--beige); /* I saw your comment in my midterm saying that I have to put things in a div to menage the content inside a grid. I don't know if I did right but I had this div just for the content, so I choose to put the same backgroud colour as I have above, and kind worked. As I said, I don't know if its correct but since I achieved the expected layout I'm happy ;p */
}

.event-testimonials-image {
    /* The size of the image it was to narrow so instead of put width:100% I did the same size that I had on Figma */
    width: 217px;
    height: 100%;
    object-fit: cover; /* Before to put this I did just the height in 100% but the image was weird so I put this to tell to cut the image based on the values that I have to maintain the quality of the image decent */
    border-radius: 10px;
    display: block;
    margin-bottom: 1.5rem;
}

.event-testimonials-title {
    font-size: var(--fs-h2);
    color: var(--brown);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.event-testimonials-text {
    font-size: var(--fs-body);
    color: var(--brown);
    margin-bottom: 1.5rem;
}

.event-testimonials-btn{
    display: block; /* Fot the other buttons was inline-block but for this I did block because I wanted to align center using margin: auto to put the button in the center of the page */
    /* margin: 1rem auto; */ /* there's no margin for this one because the button is aligned on the left not in the center */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem; /* I changed the padding to increase the size in the x axis for the button to look like more to the button in the wireframe */
    width: fit-content; /* I did this to maintain the button in the size of the text (content) inside. To fit the size based on the content */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
}

.event-testimonials-btn:hover {
    background-color: var(--beige);
    color: var(--brown);
}

/* PLANNING AN EVENT? PART */
.event-planning-title {
    font-size: var(--fs-h3);
    color: var(--brown);
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

.event-planning-text {
    font-size: var(--fs-body);
    color: var(--brown);
    margin-bottom: 1.5rem;
}

.event-planning-buttons {
    display: flex; /* As a default flex is a row and both button are in the same line */
    gap: 1rem;
}

.event-planning-btn1{
    display: block; /* Fot the other buttons was inline-block but for this I did block because I wanted to align center using margin: auto to put the button in the center of the page */
    /* margin: 1rem auto; */ /* there's no margin for this one because the button is aligned on the left not in the center */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1.5rem; /* I changed the padding to increase the size in the x axis for the button to look like more to the button in the wireframe */
    width: fit-content; /* I did this to maintain the button in the size of the text (content) inside. To fit the size based on the content */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
    text-align: center; /* to align the text inside the button in the center of the button */
}


.event-planning-btn2{
    display: block; /* Fot the other buttons was inline-block but for this I did block because I wanted to align center using margin: auto to put the button in the center of the page */
    /* margin: 1rem auto; */ /* there's no margin for this one because the button is aligned on the left not in the center */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 2rem; /* I changed the padding to increase the size in the x axis for the button to look like more to the button in the wireframe */
    width: fit-content; /* I did this to maintain the button in the size of the text (content) inside. To fit the size based on the content */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
    /* These two below I asked AI for help because my "get a quote" button was broken in two lines and I didn't want this, so AI said this white-space: nowrap; don't allow the line broke, and after do this the text inside was too much in the top of the button, I tried text-align: center; but didn't work so I asked AI again and it said to adjust the line-height according my need, so I did */
    white-space: nowrap;
    line-height: 2.2;
}


.event-planning-btn1:hover {
    background-color: var(--beige);
    color: var(--brown);
}

.event-planning-btn2:hover {
    background-color: var(--beige);
    color: var(--brown);
}

/* 4TH SECTION - GATHER, CELEBRATE, ENJOY! */
.gather-section {
    padding: 1.5rem 1.5rem;
}

.gather-image-wrapper {
    position: relative; /* allows overlay and the text comes on top of the image */
}

.gather-image {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.gather-overlay {
    position: absolute;
    inset: 0; /* this means top, bottom, left, right = 0 */
    background-color: rgba(0, 0, 0, 0.25); /* The black overlay with 25% of opacity */
    border-radius: 10px;
}

.gather-content {
    position: absolute;
    inset: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.gather-title {
    font-size: var(--fs-h3);
    color: var(--beige);
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* To put the drop shadow as I have on Figma, my values are Y = 2, Blur = 5 and Black opacity in 25% */
}

.gather-text {
    font-size: var(--fs-body);
    color: var(--beige);
    margin-bottom: 7rem; /* to adjust the space between the end of the paragraph to the begining of the cta */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* To put the drop shadow as I have on Figma, my values are Y = 2, Blur = 5 and Black opacity in 25% */
}

.gather-cta {
    font-family: var(--font-body);
    font-weight: bold;
    color: var(--beige);
    align-self: flex-end; /* pushes the text to the right side */
    display: flex;
    align-items: center;
    gap: 0.25rem; /* space between text and arrow */
}

.gather-arrow {
    width: 1rem;
    height: auto;
    display: inline-block;
}

/* HIDING THE SKIP LINKS
I did same way I did on the acessible-me assignment because I barely remeber this part, so I was checking references that I already have just to do not create something new */
.skip-link {
  position: absolute; /* removes the element from the normal flow of the page without affecting the layout */
  top: -10em; /* To put the skip link all the way up until disappear */
}

.skip-link:focus {
  background-color: var(--beige);
  color: var(--brown);
  top: 0; /* come back when its in focus by tab on a keyboard */
}

/****************
 MEDIA QUERIES
*****************/
/* TABLET */
@media (min-width: 768px) {

    /* Adjusting the sizes of the fonts */
    :root {
        --fs-h1: 1.5rem;
        --fs-h2: 1.2rem;
        --fs-h3: 1rem;
        --fs-h4: 1rem;
        --fs-body: 1.125rem;
        --fs-body-small: 0.8rem;
    }

    /********************
          HOME PAGE
    *********************/
    .hero img {
        height: 320px; /* reducing the size of the image */
    }

    .hero-buttons {
        flex-direction: row; /* Buttons in the same row, one beside the other*/
        gap: 1.5rem;
    }

    .btn-menu,
    .btn-catering { /* adjusting the buttons to fit the content to don't fill the whole width */
        width: auto;
        padding: 0.75rem 1.5rem;
        font-size: var(--fs-button);
    }

    .hero-content h1 {
    white-space: nowrap; /* To the h1 don't broke in more than one line */
    margin-top: 4rem;
}

    .hero-content p {
    white-space: nowrap; /* To maintain the paragraph in the same line */
    margin-bottom: 2.5rem; /* space between end of paragraph to the buttons */
}

/* 2nd section: 2 columns */
/* 1st column - events */
    .events-about-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .events-section { /* This means like pick all of the direct child and put in the 1st column of the grid, so all of the elements inside of .events-section will occupy the 1st column */
        grid-column: 1;
    }

    /* Adjusting the images to stay beside each other */
    .events-images {
        display: flex;
        gap: 1rem;
    }

    .events-images img {
        width: 50%;
        aspect-ratio: 1; /* make the images as a square size */
        object-fit: cover;
        border-radius: 10px;
    }

    .events-btn-wrapper {
        text-align: center; /* align the button in the middle of the two images */
    }

    /* 2nd column - about section */
    .about-section {
        grid-column: 2;
        align-self: start;
    }

    .about-text{
        font-size: var(--fs-body-small);
    }

    /********************
          MENU PAGE
    *********************/
    /* Adjusting icons in the same line */
    .menu-icons-row {
        display: flex;
        flex-direction: row; /* to put them in a row */
        gap: 1.5rem; /* space between each icon and their labels */
    }

    /* Adjusting the Cards */
    .menu-cards {
        display: grid; /* Creating the 2 columns with the same size for the cards section */
        grid-template-columns: 1fr 1fr; 
        gap: 0.5rem; 
    }

    .menu-card:nth-child(3),
    .menu-card:nth-child(4) {
        display: none; /* To hide Card 3 and 4 because they're not in my Figma design for tablet */
    }

    .menu-card { /* without this, the text comes to the left, so I did this to organize the box as a vertical rectangle with the image in the top, and the text below after the image */
        display: flex; /* adjusting them in the same line */
        flex-direction: column;
        border-radius: 10px;
    }

    .menu-card-image-wrapper { /* The size of the image inside the card */
        width: 100%;
        height: 220px;
        overflow: hidden;
        border-radius: 10px;
    }

    .menu-card-image { /* fitting the images in the boxes properly */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menu-card-description{ /* Refining the spaces between text, and adjusting the font-size according which is more similar to Figma design */
        margin-bottom: 1rem;
        margin-top: 1rem;
        line-height: 1.2;
        font-size: var(--fs-body-small);
    }

    /****************************
          CATERING & EVENTS PAGE
    *****************************/
    .catering-title{
        font-size: var(--fs-h1); /* I think this way that I use to adjust the sizes or margin before is kind amateur but that's how I feel in Web Design honestly, so I prefer to follow in a way thats is easier to my understanding process than trying to challenging myself doing things in a risky way, and also I don't think this a moment to take risk */
    }

    .event-testimonials-image{
        width: 100%; /* increasing the size of the image in testimonials to make more similar to the Figma Design */
        height: 570px; /* same as my Figma */
        object-fit: cover;
        border-radius: 10px;
    }

    .event-planning-text{
        margin-bottom: 4rem; /* adjusting the space after this paragraph to push the buttons a little bit down */
    }


    .event-testimonials {
        height: 570px; /* same height of the image */
    }

    /* From here there were things that I figure it out on Desktop Media Query, so I just copied and pasted what it works better from there to here
    Starting here */
    .event-planning-btn1,
    .event-planning-btn2 {
    padding: 0.75rem 1rem; /* the size of the button */
    line-height: 1; /* remove the extra space in the button */
    white-space: nowrap; /* disable the broken line */
    font-size: 16px;
    }   

    .event-testimonials-content{
        background-color: transparent;
    }
    /* And finishing here
    Which was basically the size of the beige box, the extra background-colour in the content (you're gonna see a massive explanation on Desktop Media Query in this part (becuse I did this on Desktop first) I "removed", I fixed some buttons weird layout and the size of the image according to the exact valu on Figma and I think it was it */

    /* Adjusting the size of the image and the sizes of the fonts and the space between these elements */
    .gather-image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .gather-title{
        font-size: var(--fs-h1);
    }

    .gather-text{
        margin-bottom: 8rem;
    }

    .gather-cta{
        font-size: var(--fs-body);
    }
}

/* DESKTOP */
/* My tablet and desktop are kind similar to each other so the changes will be a little subtle, just some font-sizes, maybe margins, and some grid or flex to adjus the layout. But I don't would be a lot */
@media (min-width: 1024px) {
    /********************
          HOME PAGE
    *********************/
    /* Adjusting manually the font sizes according what I have on Figma for Desktop */
    .hero-content h1 {
    font-size: 36px; /* I'm using px right now because I was so confusing with rem and I was barely seeing the difference properly. For tablet it was okay, but for desktop I was afradi to stay out of proporcional */
    }

    .hero-content p {
    font-size: 22px;
    }

    .events-about-wrapper {
    /* I did grid to make sure they'll be in two columns identically, where 1st is events on the left, and about on the right */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem; /* space between the 2 columns */
    padding: 1.5rem 1rem; /* the space around the section (left, right, top, bottom */
    align-items: start; /* to put columns to start in the begnning of the sections */
    }

    .events-section { /* This organizes the section in 2 equal columns to text goes to the left and images to the right */
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    align-items: start; 
    }

    .events-text-wrapper { /* I did this wrapper to put all the text in the same "box" to adjusting them properly, baise without this one of the paragraphs were floating in the wrong spot */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }

    .events-images { /* This puts the images one after another, not beside each other */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0; /* remove o margin-bottom do mobile */
    }

    .events-images img { /* I did the height manually according to what I have on Figma */
    width: 100%; /* I tried the width same as my Figma but it was a lot of empty space between sections so I preferred to put 100% to fill the empty space and make things looks nicer even it's not exactly same as my Figma prototypes, because I just realized doing this assignment that are 2 options: either I don't have the enough knowledge to make things exactly the same or the way that I did on Figma it's not what happens in the reality of the industry - at least was my first time in a foundation class, so I'm in the learning process still */
    height: 188px; 
    object-fit: cover;
    border-radius: 10px;
    }

    .events-btn-wrapper {
    text-align: left;
    margin-top: 1rem;
    }

    .about-box { /* This is to create 2 columns on my box, to put the image in one side and the text in the other */
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    padding: 1.5rem; 
    border-radius: 10px; 
    }

    .about-image {
    /* The sizes was based on my Figma design */
    width: 362px;
    height: 396px; 
    object-fit: cover; /* maintain the crop based on the sizes that I chose */
    border-radius: 10px;
    margin: 0; /* remove o margin-bottom do mobile */
    }

    .about-text {
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 1.5rem;
    }

    /********************
          MENU PAGE
    *********************/
    .menu-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 euqal columns */
    gap: 2rem; /* the space between the cards */
    max-width: 1200px; /* largura máxima para não ficar esticado demais */
    margin: 0 auto; /* centraliza o grid na página */
    padding: 1.5rem 1rem; /* respiro lateral */
}

    .menu-card:nth-child(3) { /* On tablet I hidden the 3rd card, so now I have to turn it back that's why I did flex because it was the display that I used before, my .menu-cards are flex above */
    display: flex;
}

    .menu-card:nth-child(4) { /* To keep the 4th invisible */
    display: none;
}

    .menu-section {
    max-width: 1200px; /* To make the title start together to the cards */
    margin: 0 auto; /* To put the title and icons strating same as the cards */
    margin-top: 2rem; /* I did this to create some space for the smal "BOWL" word that I have after the hero image, because without this it was too together */
}

/**************************
    CATERING & EVETS PAGE
***************************/
.catering-title{
    font-size: 48px; /* I did manually to put the same size that I have on Figma because at this point rem's became so confusing to me */
}

.catering-intro{
    font-size: 22px;
}

.catering-subtitle{
    font-size: 32px;
}

.catering-option{
    font-size: 22px;
}

.event-gallery {
    max-width: 1382px; /* I just found this value in the Dev Mode on Figma by selecting my image */
    margin: 0 auto; /* to center the image in the page */
}

.event-gallery-image {
    width: 100%; /* to fill the container */
    height: 490px; /* same as my Figma */
    object-fit: cover; /* to crop in a tidy way */
    border-radius: 10px; /* same as the conerner radius that I have in almost everything on my design */
}

.event-testimonials-content {
    max-width: 570px; /* I just did the same value that I have for the image */
    margin-left: auto; /* push far from the image */
    margin-right: auto; /* maintain center */
    padding: 3rem 0; /* some space which increase the size of the fonts aperently make things looks a little bit proporcional */
    text-align: left; /* align to the left */
    display: flex;
    flex-direction: column;
}

.event-testimonials-title{
    font-size: 32px;
}

.event-testimonials-text{
    font-size: 16px;
}

.event-planning-title{
    font-size: 22px;
}

.event-planning-text{
    font-size: 16px;
}

.event-planning-btn1,
.event-planning-btn2 {
    padding: 0.75rem 1rem; /* the size of the button */
    line-height: 1; /* remove the extra space in the button */
    white-space: nowrap; /* disable the broken line */
    font-size: 16px;
}

.event-testimonials-image {
    width: 100%;
    height: 570px; /* same as my Figma */
    object-fit: cover;
    border-radius: 10px;
}

.event-testimonials {
    height: 570px; /* same height of the image */
}

.event-testimonials-content {
    background-color: transparent;
    /* - Text written in Portuguese and translated using Google Translate because it was a very specific line of reasoning that's too much for my level of English hahaha -
    What happened here was the following:
    I needed to do this on Mobile (.event-testimonials-content background-color: var(--beige);) because for some reason I don't know, my beige box wasn't ending where the text ended; the text kept going outside the beige box. So I had the idea to also put a beige box behind the text, even knowing that one box would overlap the other. It was the way I found to solve it, and since I did this a few days ago, I don't remember the reasoning exactly anymore, because there comes a point where I start trial and error, testing, and seeing what works. So, when I got to the Desktop Media Query part, there was a leftover bit of that beige as the background color of the content. So for the desktop, I tried a few things before adding a transparent background (which is what solved the problem), like making the background white, or setting its height to the same as the image (570px), but the only thing that worked was the transparent background, thank goodness lol. That's why I made that choice, just explaining my thought process. I hope it makes sense :) */
}

.gather-text{
        margin-bottom: 10rem; /* adjusting manually the location of "make your reservation */
    }
}