/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************
END OF CSS RESET  
************************/

/* MY STYLING */
/* I gonna start stablishing the root to create the colour palette that I used on Figma and the fonts and sizes to try to maintain a pattern for the website */
:root{
    /* MY COLOURS */
    --eggplant: #8C3573;
    --avocado: #ABC510;
    --pumpkin: #FF991C;
    --beige: #F0EAD6;
    --brown: #704214;

    /* MY FONTS (FAMILIES) */
    --font-heading: "Autour One", serif;
    --font-body: "Inter", sans-serif;

    /* FONT SIZES (for Mobile Version) based on my Figma Design
    I found the values in px on Figma and I converted in a Website that I found on Google to put them into rem */
    /* HEADING SIZES */
    --fs-h1: 2rem; /* 32px */
    --fs-h2: 1.375rem; /* 22px */
    --fs-h3: 1.25rem; /* 20px */
    --fs-h4: 1rem; /* 16px */

    /* BODY TEXT SIZES */
    --fs-body: 1rem; /* 16px */ /* For some paragraphs because varies based on the size of the screen */
    --fs-body-small: 0.75rem; /* 12px */

    /* BUTTON SIZES */
    --fs-button: 1rem; /* 16px */ /* There are some buttons in my page what I needed to put smaller that's why there're 2 different sizes of the font-button */
    --fs-button-small: 0.75rem; /* 12px */
}

/* Setting the sizes and colours, the characteristics of the text based on my Figma design */
body{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--brown);
    background-color: white;
}

h1{ /* The H1 I just used for the text in the overlay for the hero banner image */
    font-family: var(--font-heading);
    font-size: var(--fs-h1);
    color: var(--beige);
}

/* Most of the others "h" is brown, but there are some specific points that is beige, and for this I gonna do in the point specifically, but since most of them are brown i gonna set it up as brown */
h2{
    font-family: var(--font-heading);
    font-size: var(--fs-h2);
    color: var(--brown);
}

h3{
    font-family: var(--font-heading);
    font-size: var(--fs-h3);
    color: var(--brown);
}

h4{
    font-family: var(--font-heading);
    font-size: var(--fs-h4);
    color: var(--brown);
}

/* I have 2 different types of paragraphs, in some cases they're body-small and other cases they're just body. I choose to put as body (16px) to pick the specific sections that I used 12px to change in that section  */
p{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--brown);
}

/* HEADER - MENU NAV */
/* Styling the Dropdown Menu */
.dropdown-checkbox{
    display: none; /* To hide the checkbox */
}

.header-top{
    display: flex; /* To put the items in a row because flex as a default is a row. So at this point the logo and the hamburguer are in the same row */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.dropdown-open img{ /* Adjusting the size of the hamburguer icon */
    width: 40px;
    height: auto;
    cursor: pointer;
}

.logo img{ /* Adjusting the size of the logo */
    width: 240px;
    height: auto;
}

/* Setting the nav-menu "inside" of the hamburguer with it own features like colours and text */
.mobile-nav{
    position: fixed; /* This is to fix the menu to do not scroll with the page */
    top: -100%; /* starts out of the screen and comes from the top like "hidding" */
    right: 0; /* to maintain it on the right side because the icon is there */
    width: 40%; /* the size of the box */
    height: auto; /* Adjust automatically based on the text inside */
    background-color: var(--brown);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: top 0.3s ease-in-out; /* top means the transition comes from the top sliding vertically */
    z-index: 999999; /* When I finished my Hero Section and tried the hamburguer, it was behind the hero, so I put a z-index in a higher number to tell that menu is in front of everything in the world */
}

#dropdown-box:checked ~ .mobile-nav { /* This means when this id is checked the dropdown has to show the sibling .mobile-nav which comes after the dropdown-box. It's like: when the checkbox is checked, slect the sibiling .mobile-nav to appear */
    top: 0; /* The direction of the menu. Here I have to say that the top that I hidded above (top: -100%) needs to come and show from and stayed at the top */
}

/* Adjusting the text of the nev inside of the box according to the Figma Design */
.mobile-nav ul li a{
    display: block; /* To make this thing behaves like a block */
    color: var(--beige);
    font-family: var(--font-heading);
    font-size: var(--fs-h4);
    text-decoration: none; /* To remove the underline default for nav links */
    text-transform: uppercase;
    padding: 1rem 0; /* The space between the elements inside of the box */
    border-bottom: 2px solid var(--beige); /* The lines between the text like I have in my design */
    text-align: left;
}

.mobile-nav {
    border-radius: 0 0 8px 8px; /* to put the border in the bottom of the box rounded */
}

.dropdown-close{
    display: flex;
    justify-content: flex-end;
    cursor: pointer; /* I noticed that just the X wasn't showing the little hand to indicate that's clicable, so I did the same thing that I did for the hamburguer */
}

header {
    border-bottom: 3px solid var(--beige); /* I have a line to divide the sections but this line belongs to the header because for me in the designer means finished the header to start the body of the website */
}


/* HERO BANNER SECTION */
.hero{
    position: relative; /* This is my reference point, that's why is relative, for the things that becomes after are relative to this one */
    width: 100%;
    overflow: hidden; /* To maintain everything inside of the border-radius just to avoid things scape */
    border-radius: 10px;
    margin-top: 1rem; /* To give some space between the section and the line of the header */
}

.hero img {
    width: 100%; /* to fill the whole space of the section */
    height: 437px; /* this values were based on my Figma design values */
    object-fit: cover; /* To fill the entire space even if it means to cut a little bit the image, maintain things proporcional */
    object-position: center; /* Once I did obect-fit:cover I have to tell how or where to cut, so this means to cut equally both sides */
    display: block;
    position: relative;
    z-index: 0;
}

/* HERO OVERLAY */
.hero::before{
    content: "";
    position: absolute; /* This absolute is related to the position:relative I did above */
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25); /* Based on my Figma design my overlay is black with a 25% of opacity */
    z-index: 1; /* To keep the overlay in front of the image */
    border-radius: inherit; /* To pick the radius that I did before */
}

/* HERO TEXT */
.hero-content{
    position: absolute;
    inset: 0; /* To set the place of the element and tell where it is, but only works when has a position defined */
    z-index: 2;
    padding: 2rem;
}

.hero-content h1 {
    font-family: var(--font-heading);
    font-size: var(--fs-h1);
    line-height: 1.8; /* to give some space between lines */
    margin-bottom: 1rem; /* space between h1 and the p that comes after */
    color: var(--beige);
    max-width: 28rem; /* To avoid the text becames too wide */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* To put the drop shadow as I have on Figma, my values are Y = 2, Blur = 5 and Black opacity in 25% */
}

.hero-content p {
    color: var(--beige);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.2rem; /* the space between the paragraph and the buttons that comes after */
    max-width: 26rem; /* To avoid the text becames too wide */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* To put the drop shadow as I have on Figma, my values are Y = 2, Blur = 5 and Black opacity in 25% */
}

/* HERO BUTTONS */
.hero-buttons {
    display: flex;
    flex-direction: column; /* To adjust the buttons to become one above the other, it was one beside the other befor */
    gap: 1rem; /* the space between buttons */
}

.btn-menu,
.btn-catering {
    display: inline-block; /* To maintain the element in the same line to do not broke to another line instead */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    width: fit-content; /* I tried to change the X axis on padding but didn't work so I did this to keep the size of the button accordingly to the text inside */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase; /* I know it's already uppercase on html but i prefer to be safe and organized */
    text-align: left;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.btn-menu:hover{
    background-color: var(--beige);
}

.btn-catering:hover{
    background-color: var(--beige);
}

/* PAST EVENTS AT PLANT PALETTE */
.events-section {
    padding: 1.5rem 1rem; /* This creates space in the top of the section and in the left and right side */
}

.events-section h2 {
    margin-bottom: 1rem; /* The space between the h2 and the p after */
}

.events-text-regular {
    font-size: var(--fs-body-small); /* This is the size of this exceptional paragraph (12px) */
    line-height: 1.5; /* I did this to enhance the readibility */
    margin-bottom: 1rem; /* The space between paragraphs */
    color: var(--brown); 
}

.events-text-bold {
    font-size: var(--fs-body-small); /* This is the size of this exceptional paragraph (12px) */
    font-weight: 700; /* This part of the paragraph is bold that's why I did 700 */
    line-height: 1.5;
    margin-bottom: 1.5rem; /* The space between the end of this paragraph and the picture */
    color: var(--brown);
}

/* I know in my prototypes I have an arrow in the both sides to indicate that would be a slide and the arrows supposed to be a button when you clicked slides to the others pictures, I kind knew I can do that with something in Bootstrap but I wasn't safe and also I was afraid to don't finish the whole assignment, so I choose to do the content properly and these details if I have time I'll include, but if I don't, at least I have mostly of my design coded */
.events-images {
    display: flex; /* To put the images beside each other */
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.events-images img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* For the buttons I just copy and paste the previous one that I did before to maintain the pattern of them */
.btn-events {
    display: inline-block;
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    width: fit-content;
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
}

.btn-events:hover {
    background-color: var(--beige);
    color: var(--brown);
}

/* I tried to align the button in the center in the .btn-events but didn't work, I tried doing same thing on .events-section but made all the section centered as I imagined, so I choose to create a div on html to envolve just the buttons and align center like I did below */
.events-btn-wrapper{
    text-align: center;
}

/* ABOUT BOX
There's no about page, but I did this box in the home pretending, like, if I have an about page this section is related to it. So I did a box, and inside this box an image telling about the producers, values and misson of the company very briefly and a button to go to the about if I had one */
.about-section {
    padding: 1.5rem 1rem;
}

.about-box {
    border: 1px solid var(--brown);
    border-radius: 10px;
    padding: 1rem;
}

.about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    object-fit: cover;
}

.about-text {
    font-size: var(--fs-body); /* The font that has 16px */
    color: var(--brown);
    line-height: 1.5; /* All these values I tried to keep the same. I don't remember what exactly I used on Figma, but here I'm just trying and which fits better I keep */
    margin-bottom: 1.5rem;
}

.btn-about { /* The button I just copy and paste what I did before because they all the same */
    display: inline-block; /* Tells the button to behave as an inline element, just use the space that they need to, without strethcing */
    background-color: var(--avocado);
    color: var(--brown);
    padding: 0.75rem 1rem;
    width: fit-content; /* I did this to maintain the button in the size of the text (content) inside. To fit the size based on the content */
    border-radius: 50px;
    font-family: var(--font-heading);
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); /* All of my buttons has a drop shadow with this values on Figma */
}

.btn-about:hover {
    background-color: var(--beige);
    color: var(--brown);
}